html body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.sketchPad {
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid {
    display: grid;
    width: 960px;
    height: 80vh;
    padding: 10px;
    margin: 20px;
}

.cell {
    background: #9E9E9E;
    border: black 1px solid;
    user-select: none;
}

.controls {
    padding: 5px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

