html body {
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid {
    display: grid;
    width: 960px;
    height: 80vh;
}

.cell {
    background: #9E9E9E;
    border: black 1px solid;
    user-select: none;
}

.active {
    background: #6d4545;
} 

.controls {
    padding: 5px;
}